*{
    background-color: black;
}

#title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 35px;
    font-family: 'Titillium Web', sans-serif;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(#f1b6d3 15%, #ffffff 65%, #02b2e7 80%);
    -webkit-background-clip: text;
}

.gamebox {
    display: flex;
    flex-direction: row;
    position: relative;
}

#game-canvas {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 3px solid rgb(240, 156, 156);
    border-radius: 20px;
    background-image: -webkit-linear-gradient(#39245f 15%, #b92e2e 65%, #3e6f7e 80%);
}

#social {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 15%;
    list-style: none;
}


#intro{ 
    left: 35%;
    top: 30%;
    position: fixed;
    padding: 10px;
    width: 450px;
    height: 300px;
    border: 3px solid white;
    color:rgb(221, 131, 131);
    border-radius: 15px;
    z-index: 100;
    visibility: visible;
    border-top: 1px solid #999;
    background-image: linear-gradient(to top, #172020 0%, #330867 100%);
}

#intro > p {
    padding: 10px;
    font-size: 20px;
    text-align: justify;
    background: transparent;
}

#start-btn {
    width: 100px;
    height: 25px;
    position: relative;
    left: 35%;
    top: -5%;
    color: white;
    background-color: cadetblue;
    border: none;
    
}

.stats {
    color: magenta;
    list-style: none;
    font-family:Tahoma, sans-serif;
    font-size: 15px;
}

#level, #gold {
    width: 125px;
}

#game-over {
    top: 25%;
    left: 40%;
    position: fixed;
    width: 200px;
    height: 300px;
    border: 3px solid white;
    border-radius: 15px;
    color: white;
    visibility: hidden;
    text-align: center;
}

#reset-btn {
    width: 100px;
    height: 25px;
    color: white;
    background-color: cadetblue;
    top: -10px
}

#shark-smile {
    position: relative;
    width: 150px;
    top: 10%;
}

#instructions {
    display: block;
    color: peachpuff;
    width: 175px;
    margin-left: 20px;
    font-family: Tahoma, sans-serif;
    margin: auto;
    padding: 10px;
}


